<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Angular Practice</title>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
    <script src="lib/js/app.js"></script>
</head>
<body>
    <div ng-controller = "mainController">
    	<div ng-repeat = "item in person">
    	<img ng-src='img/{{item.short}}.png' alt='{{item.alt}}'>
    	 <h3> {{item.name}}  </h3>
    	 <p>	{{item.city}}	</p>


    	</div>
 
    </div>


</body>
</html>