<!DOCTYPE html>
<html ng-app>
<head>
	<title>Angular Practice</title>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
</head>
<body>
<input type="text" ng-model="name">
	<h3>{{name}}</h3>

</body>
</html>