<div>
<input type="text" placeholder="search" ng-model="query">
        <select ng-model="nameorder">
            <option value="name">name</option>
            <option value="city">city</option>
        </select >
        <label>ass
            <input type="radio" checked name="direction" value="" ng-model="direction">
        </label>
        <label>dess
            <input type="radio" name="direction" value="reverse" ng-model="direction">
        </label>
        <div ng-repeat = "item in person | filter: query | orderBy: nameorder: direction">
    	<img ng-src='img/{{item.short}}.png' alt='{{item.alt}}'>
    	 <h3> {{item.name }}  </h3>
    	 <p>	{{item.city}}	</p>


    	</div>
</div>