<!doctype html>
<html ng-app="myApp">
    <head>
        <title>clock in angular js</title>
        <script type="text/javascript" src="angular.js"></script>
        
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
         <script type="text/javascript">
          var myApp= angular.module("myApp",[]);
          myApp.controller('mainController',['$scope','$filter',function($scope,  $filter){
                $scope.handle = "";
                $scope.lowercasehandle= function(){
                    return $filter('lowercase')($scope.handle)
                };
                $scope.characters=5;
          }])
        </script>
    </head>
    <body>
        <div class="container" style="margin-top:40px;">
            <div ng-controller = "mainController">        
                <input type="text" id="name" ng-model="handle">
                <label>what is your twitter handle {{lowercasehandle()}}</label>
                   <!-- <div class="alert" ng-if="handle.length !==characters">
                        must be 5 characters
                    </div> -->
                   <!-- <div class="alert" ng-show="handle.length !==characters">
                        must be 5 characters
                    </div> -->
                    <!-- <div class="alert" ng-hide="handle.length !==characters">
                        must be 5 characters
                    </div> -->
                    <!-- <div class="alert" ng-show="handle.length !==characters" ng-class="{'alert-warning' : handle.length < characters, 'alert-success' : handle.length > characters}">
                        must be 5 characters
                    </div> -->
                    <!--<div class="alert" ng-class="{'alert-warning' : handle.length < characters, 'alert-success' : handle.length == characters, 'alert-danger' : handle.length > characters}">
                        must be 5 characters this is not using ng-show
                    </div> -->
                    <div class="alert" ng-class="{'alert-warning' : handle.length < characters, 'alert-success' : handle.length == characters, 'alert-danger' : handle.length > characters}">
                        <div ng-show="handle.length < characters" ng- class="">
                            less chars
                        </div>
                        <div ng-show="handle.length > characters">
                        more than 
                        </div>
                        <div ng-show="handle.length == characters">
                        you done it
                        </div>
                     
                    </div>
            </div>
        </div>
        
  
    </body>
</html>
