<!doctype html>
<html ng-app="myApp">
    <head>
        <title>clock in angular js</title>
        <script type="text/javascript" src="angular.js"></script>
       
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
         <script type="text/javascript">
         // var myApp= angular.module("myApp",[]);
          //myApp.controller('mainController',['$scope','$filter',function($scope,  $filter){
            //    $scope.handle = "";
              //  $scope.lowercasehandle= function(){
                //    return $filter('lowercase')($scope.handle)
                //};
                //$scope.characters=5;
         // }])

        var myApp = angular.module('myApp',[]);
        myApp.controller('mainController',['$scope','$http',function($scope, $http){
            $http.get('/../data.json').success(function(result){
                    $scope.rules= result;
            }).error(function(data , status){
                console.log(data);
            });
        }])
        </script>
    </head>
    <body>
        <div class="container" style="margin-top:40px;">
            <div ng-controller = "mainController">        
                    <div class="http-request">
                        <ul>
                        <li ng-repeat= "rule in rules">
                    name {{rule.name}} city {{rule.city}}
                        </li>
                            
                        </ul>
                    </div>
            </div>
        </div>
        
  
    </body>
</html>
