<!doctype html>
<html ng-app="myClock">
    <head>
        <title>clock in angular js</title>.
        <script type="text/javascript" src="angular.js"></script>
        <script type="text/javascript">
            var myClock = angular.module('myClock',[]);
            
            myClock.controller('clockController',function($scope){
                $scope.clock = new Date();
                var updateClock = function(){
                     $scope.clock = new Date();
                    
                };                
                setInterval(function(){
                    $scope.$apply (updateClock);
                },1000);
                updateClock();
            });
           
        </script>
    </head>
    <body>
        <div ng-controller= "clockController">
                <h1>{{clock}}</h1>
        
        </div>
   
    </body>
</html>
