<!doctype html>
<html ng-app="myApp">
    <head>
        <title>clock in angular js</title>
        <script type="text/javascript" src="angular.js"></script>
         <script type="text/javascript">
          var myApp= angular.module("myApp",[]);
          myApp.controller('mainController',['$scope','$filter',function($scope,  $filter){
                $scope.handle = "";
                $scope.lowercasehandle= function(){
                    return $filter('lowercase')($scope.handle)
                };
                $scope.$watch('handle', function(newValue, oldValue){
                    console.log('changed!');
                    console.log('old' + oldValue);
                    console.info('new' + newValue)
                });

                setTimeout(function(){
                    $scope.$apply(function(){
                        $scope.handle = "newtwitterhandle"
                        console.log('scope changed!');
                    });
                },3000);


          }])
        </script>
    </head>
    <body>
        <div ng-controller = "mainController">
                
        <input type="text" id="name" ng-model="handle">
        <label>what is your twitter handle {{lowercasehandle()}}</label>

        </div>
  
    </body>
</html>
